* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: #5A9CC7;
    --secondary: #91DB55;
    --tertiary: #D1E4EB;
    --dark: #0B2027;
    --light: #FFFBFC;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    box-shadow: 0 0 5px 10px var(--dark);
    z-index: 1;
    color: var(--light);
    padding: 0 15px;
    height: 125px;
    position: relative;
}

nav a {
    text-decoration: none;
}

nav .hamburger-menu {
    display: none;
    cursor: pointer;
    position: relative;
}

nav .menu-links {
    display: none;
    position: absolute;
    width: 100vw;
    background-color: var(--dark);
    bottom: -350px;
    height: 350px;
    left: 0;
    z-index: 99;
    transform: scaleY(0);
    transition: transform 350ms ease;
    transform-origin: top;
}

nav .menu-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 15px;
}

nav .menu-links ul li {
    position: relative;
}

nav .menu-links ul li.active::before {
    content: '';
    width: 12px;
    height: 12px;
    z-index: 9999;
    position: absolute;
    top: -5px;
    left: -8px;
    border-top: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
}

nav .menu-links ul li.active::after {
    content: '';
    width: 12px;
    height: 12px;
    z-index: 9999;
    position: absolute;
    bottom: -5px;
    right: -8px;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
}

nav .menu-links ul li a {
    color: var(--light);
    font-size: 20px;
}

nav .menu-links.open {
    transform: scaleY(1);
    box-shadow: 0px 20px 20px 5px rgb(11,32,39)
}

nav .hamburger-menu svg rect {
    transition: all 350ms ease;
}

nav .hamburger-menu svg rect:nth-child(1) {
    transform-origin: top left;
}

nav .hamburger-menu svg rect:nth-child(3) {
    transform-origin: bottom left;
}

nav .hamburger-menu.open svg rect:nth-child(1) {
    
    transform: rotate(45deg);
}

nav .hamburger-menu.open svg rect:nth-child(2) {
    opacity: 0;
}

nav .hamburger-menu.open svg rect:nth-child(3) {
    transform-origin: bottom left;
    transform: rotate(-45deg);
}

.nav-logo img {
    width: 280px;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
    margin: 0 25px;
    position: relative;
}

.nav-links li::before {
    content: '';
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
    transition: all 350ms ease;
    width: 12px;
    height: 12px;
    z-index: 9;
    position: absolute;
    top: -5px;
    left: -8px;
    border-top: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
}

.nav-links li::after {
    content: '';
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
    transition: all 350ms ease;
    width: 12px;
    height: 12px;
    z-index: 9;
    position: absolute;
    bottom: -5px;
    right: -8px;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
}

.nav-links li.active::before {
    content: '';
    opacity: 1;
    transform: scale(1);
} 

.nav-links li.active::after {
    content: '';
    opacity: 1;
    transform: scale(1);
} 

.nav-links li:hover::before {
    content: '';
    opacity: 1;
    transform: scale(1);
} 

.nav-links li:hover::after {
    content: '';
    opacity: 1;
    transform: scale(1);
} 

.nav-links li a {
    color: var(--light);
}

nav .donate-button {
    background-color: var(--secondary);
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    font-size: 18px;
    height: 50px;
    color: var(--light);
    transform-origin: center;
    transition: transform 350ms ease;
}

nav .donate-button:hover {
    transform: scale(1.1);
}

.menu-links .donate-link {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-links .donate-button {
    width: 100%;
    text-align: center;
}

.landing {
    width: 100%;
    padding: 25px;
    background-color: var(--tertiary);
}

.diamond {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.diamond h1 {
    color: var(--dark);
    text-align: center;
    width: 100%;
    font-size: 48px;
}

.diamond h3 {
    color: var(--primary);
    font-size: 28px;
    margin: 12px 0;
    vertical-align: center;
    display: flex;
    align-items: center;
    gap: 12px;
}

.diamond h3 svg {
    height: 36px;
    width: 36px;
    margin-right: 20px;
}

.diamond p {
    margin: 20px 0;
}

.diamond ul {
    list-style-type: none;
}

.diamond ul li {
    margin: 3px 0;
}

.diamond ul li::before {
    content: '';
    color: transparent;
    background-image: url('/assets/diamond_dark.png');
    background-size: cover;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 10px;
}

.sponsor-types {
    width: 100%;
    background-color: var(--light);
    padding: 25px;
}

.sponsor-table {
    width: 100%;
    max-width: 1000px;
    overflow-x: auto;
    margin: 0 auto;
    
}

#table-sponsor {
    border-collapse: collapse;
}

#table-sponsor tr td, 
#table-sponsor tr th {
    padding: 8px 5px;
    border: 1px solid lightgray;
    position: relative;
}

#table-sponsor tr td:not(:nth-of-type(1)),
#table-sponsor tr th:not(:nth-of-type(1)) {
    width: 75px;
    text-align: center;
}

#table-sponsor tr td:nth-of-type(1),
#table-sponsor tr th:nth-of-type(1) {
    width: 500px;
    min-width: 200px;
}

#table-sponsor tr td.check::before {
    content: '';
    position: absolute;
    background-image: url('/assets/boat_green.png');
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#table-sponsor tr:nth-child(even) {
    background-color: rgba(209, 228, 235, 0.3);
}

.media {
    width: 100%;
    background-color: var(--dark);
    color: var(--light)
}

.media-info {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px;
}

.media-info img {
    margin: 25px 0;
    border-radius: 15px;
    width: 100%;
}

.media-info p {
    line-height: 28px;
}

footer {
    padding: 10px;
    background-color: var(--dark);
    color: rgba(255, 250, 251, 0.5);
    text-align: center;
}

@media only screen and (max-width: 1340px) {
    nav .nav-links {
        display: none;
    }

    nav .hamburger-menu {
        display: block;
    }

    nav .menu-links {
        display: block;
    }

    .donate-menu {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .nav-logo img {
        width: 200px;
    }

    .donate-menu {
        display: none;
    }

    nav .hamburger-menu {
        position: relative;
        left: 0;
        bottom: 0;
        transform: none;
    }
}

@keyframes bounce {
    0% {bottom: -15px;}
    5% {bottom: -5px;}
    10% {bottom: -15px;}
    15% {bottom: -5px;}
    20% {bottom: -15px;}
    100% {bottom: -15px;}
}
