* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: #5A9CC7;
    --secondary: #91DB55;
    --tertiary: #D1E4EB;
    --dark: #0B2027;
    --light: #FFFBFC;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    box-shadow: 0 0 5px 10px var(--dark);
    z-index: 1;
    color: var(--light);
    padding: 0 15px;
    height: 125px;
    position: relative;
}

nav a {
    text-decoration: none;
}

nav .hamburger-menu {
    display: none;
    cursor: pointer;
    position: relative;
}

nav .menu-links {
    display: none;
    position: absolute;
    width: 100vw;
    background-color: var(--dark);
    bottom: -350px;
    height: 350px;
    left: 0;
    z-index: 99;
    transform: scaleY(0);
    transition: transform 350ms ease;
    transform-origin: top;
}

nav .menu-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 15px;
}

nav .menu-links ul li {
    position: relative;
}

nav .menu-links ul li.active::before {
    content: '';
    width: 12px;
    height: 12px;
    z-index: 9999;
    position: absolute;
    top: -5px;
    left: -8px;
    border-top: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
}

nav .menu-links ul li.active::after {
    content: '';
    width: 12px;
    height: 12px;
    z-index: 9999;
    position: absolute;
    bottom: -5px;
    right: -8px;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
}

nav .menu-links ul li a {
    color: var(--light);
    font-size: 20px;
}

nav .menu-links.open {
    transform: scaleY(1);
    box-shadow: 0px 20px 20px 5px rgb(11,32,39)
}

nav .hamburger-menu svg rect {
    transition: all 350ms ease;
}

nav .hamburger-menu svg rect:nth-child(1) {
    transform-origin: top left;
}

nav .hamburger-menu svg rect:nth-child(3) {
    transform-origin: bottom left;
}

nav .hamburger-menu.open svg rect:nth-child(1) {
    
    transform: rotate(45deg);
}

nav .hamburger-menu.open svg rect:nth-child(2) {
    opacity: 0;
}

nav .hamburger-menu.open svg rect:nth-child(3) {
    transform-origin: bottom left;
    transform: rotate(-45deg);
}

.nav-logo img {
    width: 280px;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
    margin: 0 25px;
    position: relative;
}

.nav-links li::before {
    content: '';
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
    transition: all 350ms ease;
    width: 12px;
    height: 12px;
    z-index: 9;
    position: absolute;
    top: -5px;
    left: -8px;
    border-top: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
}

.nav-links li::after {
    content: '';
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
    transition: all 350ms ease;
    width: 12px;
    height: 12px;
    z-index: 9;
    position: absolute;
    bottom: -5px;
    right: -8px;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
}

.nav-links li.active::before {
    content: '';
    opacity: 1;
    transform: scale(1);
} 

.nav-links li.active::after {
    content: '';
    opacity: 1;
    transform: scale(1);
} 

.nav-links li:hover::before {
    content: '';
    opacity: 1;
    transform: scale(1);
} 

.nav-links li:hover::after {
    content: '';
    opacity: 1;
    transform: scale(1);
} 

.nav-links li a {
    color: var(--light);
}

nav .donate-button {
    background-color: var(--secondary);
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    font-size: 18px;
    height: 50px;
    color: var(--light);
    transform-origin: center;
    transition: transform 350ms ease;
}

nav .donate-button:hover {
    transform: scale(1.1);
}

.menu-links .donate-link {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-links .donate-button {
    width: 100%;
    text-align: center;
}

.landing {
    background-color: var(--tertiary);
    padding: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
    width: 100%;
}

.landing .info {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    gap: 25px;
}

.landing .info .image {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .info .image img {
    width: 90%;
}

.landing .info .text {
    flex: 6;
}

.landing .info h1 {
    margin-bottom: 25px;
    color: var(--dark);
}

.landing .info p {
    margin-bottom: 15px;
    color: var(--dark);
}

.facts-container {
    width: 100%;
    background-color: var(--dark);
}

.facts-container .facts {
    display: grid;
    width: 100%;
    max-width: 1000px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    gap: 1px;
}

.facts-container .facts .fact {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.fact img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.fact p {
    color: var(--light);
    font-weight: 700;
    text-align: center;
}

.costs-container {
    width: 100vw;
    background-color: var(--light);
    padding: 25px;
}

.costs-container .info {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.costs-container .info .intro {
    line-height: 24px;
    margin-bottom: 40px;
    color: var(--dark);
}

.costs-container .info .cost {
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    color: var(--dark);
}

.costs-container .info .cost span {
    width: 80%;
    display: inline-block;
}

.costs-container .info .total {
    border-top: 1px solid var(--dark);
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    padding-top: 25px;
    margin-top: 25px;
    font-size: 24px;
    text-align: center;
}

.costs-container .info .total span {
    font-size: 60px;
    font-weight: 700;
    color: var(--primary);
}

footer {
    padding: 10px;
    background-color: var(--dark);
    color: rgba(255, 250, 251, 0.5);
    text-align: center;
}

@media only screen and (max-width: 1340px) {
    nav .nav-links {
        display: none;
    }

    nav .hamburger-menu {
        display: block;
    }

    nav .menu-links {
        display: block;
    }

    .donate-menu {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .nav-logo img {
        width: 200px;
    }

    .donate-menu {
        display: none;
    }

    nav .hamburger-menu {
        position: relative;
        left: 0;
        bottom: 0;
        transform: none;
    }

    .facts-container .facts {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        margin: 0 auto;
        gap: 1px;
    }

    .landing .info {
        flex-direction: column;
    }

    .costs-container .info .cost span {
        width: 80%;
    }
}

@keyframes bounce {
    0% {bottom: -15px;}
    5% {bottom: -5px;}
    10% {bottom: -15px;}
    15% {bottom: -5px;}
    20% {bottom: -15px;}
    100% {bottom: -15px;}
}